<ul class="thumbnails">
  <li class="span4">
	
    <a href="#" class="thumbnail">
      <img data-src="sonnet1.png/502x324" alt="Sonnet1">
    </a>	

  </li>
  <li class="span4">
    <div class="thumbnail">
      <%= link_to image_tag("sonnet2.png", alt: "Sonnet2"), sonnet2_path %>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <%= link_to image_tag("sonnet3.png", alt: "Sonnet3"), sonnet3_path %>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <%= link_to image_tag("sonnet4.png", alt: "Sonnet4"), sonnet4_path %>
    </div>
  </li>
</ul>
