<footer class="footer">
  <small>
	Handmade daily in New York City by
    <a href="http://sonnet.me/">honor</a>
  </small>
  <nav>
    <ul>
      <li>
	I write a couplet each day, a sonnet each week, for the rest of my life. My profile at
	<a href="http://www.dramatistsguild.com/memberdirectory/getmembership.aspx?cid=39311">DM</a></li>
    </ul>
  </nav>
</footer>