<footer class="footer">
  <small>
	Handmade daily in New York City by
    <a href="http://sonnet.me/">honor</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://www.dramatistsguild.com/memberdirectory/getmembership.aspx?cid=39311">Profile</a></li>
    </ul>
  </nav>
</footer>